<h1>Nova Promoção</h1>
<% if @promotion.errors.any? %>
  <div class="alert">
    <p>Não foi possível criar a promoção</p>
    <p>Confira os erros abaixo:</p>
    <ul>
      <% @promotion.errors.full_messages.each do |m| %>
        <li><%= m %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= render "form", promotion: @promotion %>

